/*Start Global Rules*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 00.3s;
    --main-padding-top: 50px;
    --main-padding-bottom: 50px;
    --section-background: #ececec;
    --maine-padding: 100px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    padding: 5px;
    background-color: var(--main-color-alt);
    color: var(--section-background);
    position: fixed;
    right: 14px;
    bottom: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: none;
    z-index: 2;
    transition: var(--main-transition);
    animation: jump 0.5s linear infinite;
}

.button i {
    /* animation: jump 0.5s linear infinite; */
    transition: var(--main-transition);
    transform: rotatez(271deg);
}

