/* 


*/

.image-hero {
    width: 100%;
    height: 100%;
}
.image-hero img {
    width: 100%;
}

.container-web h2 {
    padding-top: 20px;
    font-weight: bold;
    font-size: 32px;
    /* width: fit-content; */
    /* position: relative; */
    margin: 0px auto 50px;
}
.container-web p {
    line-height: 1.8; 
    max-width: 80rem; 
    word-wrap: break-word; 
}